# ==========================================
# BASE CONFIGURATION FOR AUDIO RESEARCH
# ==========================================

# --- 1. EXPERIMENT INFO ---
experiment:
  project_name : "My_First_Audio_Model"
  seed         : 42              
  output_dir   : "./experiments" 

# --- 2. DATASET ---
data:
  train_path      : "data/interim/train"  
  val_path        : "data/interim/val"    
  background_path : "data/background"
  extension       : "wav"                  
  sample_rate     : 16000                 
  # Dataloader Settings
  batch_size      : 32
  num_workers     : 2       
  max_duration    : 3.0
  # SAMPLER CONFIG
  sampler         : "random"   # PENTING: ArcFace lebih suka Random daripada Balanced
  # samples_per_class: 4       # (Tidak dipakai jika sampler='random')
  
  # Isi ini sesuai jumlah folder speaker 
  n_classes       : 32         # Hanya Class Train saja.

# --- 3. MODEL ARCHITECTURE ---
model:
  backend         : "pytorch"   
  name            : "resnetse34l"  
  embedding_dim   : 256   
  encoder_type    : "ASP"  

# --- 4. LOSS FUNCTION ---
loss:
  name: "arcface"
  margin: 28.6     
  scale: 64.0      
# loss:
#   name: "cosface" # atau triplet
#   margin: 0.2     # Kalau ini pakai angka desimal biasa
#   scale: 30.0
# loss:
#   name         : "triplet"      # Pilihan: 'triplet', 'arcface', 'contrastive'
#   margin       : 0.2          # Jarak minimal pemisah antar kelas

# --- 5. TRAINING HYPERPARAMETERS ---
train:
  epochs       : 20
  learning_rate: 0.001
  optimizer    : "adam"    
  device       : "cuda"